<footer class="footer footer-dark">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="widget widget-about">
            <img src="assets/logo.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">
            <p>OLYMPIA est une entreprise italienne spécialisée dans la fabrication de peinture décorative écologique.
            </p>

            <div class="social-icons">
              <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiouIXS3IiAAxVjT6QEHWyLBBwQFnoECBEQAQ&url=https%3A%2F%2Fwww.facebook.com%2Folympiacompany%2F%3Flocale%3Dit_IT&usg=AOvVaw3WFzEB-Y6V_qHWgHD1ybMn&opi=89978449" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
              <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiv9IP03IiAAxVmdqQEHbIaBAwQFnoECAsQAQ&url=https%3A%2F%2Fwww.instagram.com%2Fexplore%2Flocations%2F258268317592362%2Folympia-la-pittura-italiana%2F%3Fhl%3Dfr&usg=AOvVaw1D7rUMp66JpZUUyi7JX_bs&opi=89978449" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
              <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjnl9z_3IiAAxXdUqQEHWLbBjcQFnoECA0QAQ&url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUC6LEaEUttUYIo9i9CNfkg2A&usg=AOvVaw3-2j3QZS7EbIYVDK1WR-7x&opi=89978449" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
              <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiQwM3j3IiAAxUGTKQEHcEEDyEQFnoECAwQAQ&url=https%3A%2F%2Ftn.linkedin.com%2Fcompany%2Folympia-la-pittura-italiana&usg=AOvVaw2xK-AollS6eUvZfqTm-nF1&opi=89978449" class="social-icon" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i></a>
            </div><!-- End .soial-icons -->
          </div><!-- End .widget about-widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Notre entreprise</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a routerLink="/home/about-us">Qui sommes-nous ?</a></li>
              <li><a routerLink="/home/shop-list">Comment choisir votre produit ?</a></li>
              <li><a href="http://olympiacompany.com">Nos partenaires innovants</a></li>
              <li><a routerLink="/home/contact-us">Contacter nous</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Besoin d'aide ?</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a href="http://olympiacompany.com/contactez-nous/">Modes de livraison</a></li>
              <li><a href="http://olympiacompany.com/contactez-nous/">Retour et échange</a></li>
              <li><a href="http://olympiacompany.com/contactez-nous/">Moyens de paiement</a></li>
              <li><a href="http://olympiacompany.com/contactez-nous/">Programme de fidélité</a></li>
              <li><a href="http://olympiacompany.com/contactez-nous/">Terms et conditions</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-sm-6 col-lg-3">
          <div class="widget">
            <h4 class="widget-title">Mon compte</h4><!-- End .widget-title -->

            <ul class="widget-list">
              <li><a routerLink="/home/cart">Panier</a></li>
              <li><a routerLink="/home/wishlist">Liste des envies</a></li>
              <li><a href="http://olympiacompany.com/contactez-nous/">Aide</a></li>
            </ul><!-- End .widget-list -->
          </div><!-- End .widget -->
        </div><!-- End .col-sm-6 col-lg-3 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container">
      <p class="footer-copyright">Copyright © 2023 Mediasoft . All Rights Reserved.</p>
      <!-- End .footer-copyright -->
      <figure class="footer-payments">
        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
      </figure><!-- End .footer-payments -->
    </div><!-- End .container -->
  </div><!-- End .footer-bottom -->
</footer>
