<div class="page-header page-header-big text-center" style="background-image: url('../../../../assets/olym.jpg')"> 
  <div class="container">
    <h1 class="page-title" style="color: white;">Olympia<span>La Pintura Italiana</span></h1>
  </div><!-- End .container -->
</div><!-- End .page-header -->

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Acceuil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Boutique</li>
    </ol>
  </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div *ngIf="loggedIn && userconnectcomm">
          <label for="sref2" style="font-weight: bold;">Choisir le client :</label>
          <div class="select-custom">
            <select id="sref2" class="form-control" [(ngModel)]="selectedClient" (change)="onSelectedClient()">
              <option *ngFor="let client of clients" value="{{client.clI_ID}}">{{client?.nom?.trim()}}</option>
            </select>
          </div>
        </div>

        <div class="toolbox">
          <div class="toolbox-left">
            <div class="toolbox-info">
              Afficher <span>{{products?.length}}</span> Produits
            </div><!-- End .toolbox-info -->
          </div><!-- End .toolbox-left -->

          <div class="toolbox-right">
            <div class="toolbox-sort">
              <form action="#" method="get">
                <div class="header-search-wrapper">
                  <label for="q" class="sr-only">Recherche</label>
                  <input type="search" class="form-control" name="q" id="q" placeholder="Rechercher"
                    [(ngModel)]="searchText" required>
                </div><!-- End .header-search-wrapper -->
              </form>
            </div><!-- End .toolbox-sort -->
          </div><!-- End .toolbox-right -->
        </div><!-- End .toolbox -->

        <div class="products mb-3">
          <div class="row justify-content-center">
            <div class="col-12" *ngFor="let product of selectedProducts | produit : searchText;">
              <div class="product product-7 text-center">
                <figure class="product-media">
                  <a *ngIf="userconnect || isLocalStorageSelectedClient()" [routerLink]="['/home/product', product?.artId]">
                    <!--<img src="https://localhost:7166/api/Art/image?artPhotoId={{product?.artId}}" style="min-height: 250px;" alt="Product image" class="product-image">-->
                  </a>

                  <div class="product-action-vertical">
                    <a (click)="addToWishlist(product); openSnackBarWishlist()" class="btn-product-icon btn-wishlist btn-expandable">
                      <span>Ajouter aux favoris</span>
                    </a>
                  </div><!-- End .product-action-vertical -->

                  <div class="product-action">
                    <a *ngIf="userconnect || isLocalStorageSelectedClient()" routerLink="/home/product/{{product?.artId}}" class="btn-product btn-cart">
                      <span>Détails Produit</span>
                    </a>
                  </div><!-- End .product-action -->
                </figure><!-- End .product-media -->
                <div class="product-body">
                  <div class="product-cat">
                    <a>{{product?.ref}} <br>{{product?.fam0001}} <br></a>
                  </div><!-- End .product-cat -->
                  <h3 class="product-title">
                    <a *ngIf="userconnect || isLocalStorageSelectedClient()" [routerLink]="['/home/product', product?.artId]">{{product?.des}}</a>
                  </h3><!-- End .product-title -->
                  <div class="product-content">
                    <p></p>
                  </div><!-- End .product-content -->
                  <div class="ratings-container">
                    <!--<div class="ratings">
                      <div class="ratings-val" style="width: 80%;"></div>
                    </div> End .ratings -->
                    <!-- <span class="ratings-text">( 2 Reviews )</span> -->
                  </div><!-- End .rating-container -->
                </div><!-- End .product-body -->
              </div><!-- End .product -->
            </div><!-- End .col-12 -->
          </div><!-- End .row -->
        </div><!-- End .products -->
      </div><!-- End .col-lg-9 -->

      <aside class="col-lg-3 order-lg-first">
        <div class="sidebar sidebar-shop">
          <div class="widget widget-clean">
            <label>Filtres:</label>
            <a href="/shop-4columns" class="sidebar-filter-clear">Actualiser</a>
          </div><!-- End .widget widget-clean -->

          <div class="widget widget-collapsible">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                Par Categorie
              </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-1">
              <div class="widget-body">
                <div class="filter-items filter-items-count">
                  <div class="filter-item" *ngFor="let category of categories; let index=index">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cat-{{index+1}}" (change)="onCategoryChange(category.fam0001)">
                      <label class="custom-control-label" for="cat-{{index+1}}">{{category?.lib}}</label>
                    </div><!-- End .custom-checkbox -->
                    <span class="item-count">{{category?.count}}</span>
                  </div><!-- End .filter-item -->
                </div><!-- End .filter-items -->
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->

          <div class="widget widget-collapsible">
            <h3 class="widget-title">
              <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                Par Collection
              </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-4">
              <div class="widget-body">
                <div class="filter-items filter-items-count">
                  <div class="filter-item" *ngFor="let collection of collections; let index=index">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="brand-{{index}}" (change)="onCollectionChange(collection?.collection)">
                      <label class="custom-control-label" for="brand-{{index}}">{{collection?.collection}}</label>
                    </div><!-- End .custom-checkbox -->
                    <span class="item-count">{{collection?.count}}</span>
                  </div><!-- End .filter-item -->
                </div><!-- End .filter-items -->
              </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
          </div><!-- End .widget -->
        </div><!-- End .sidebar sidebar-shop -->
      </aside><!-- End .col-lg-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .page-content -->
