<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/contact-us">Contactez Nous</a></li>
      <li class="breadcrumb-item active" aria-current="page">A propos Olympia</li>
    </ol>
  </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
  <div class="page-header page-header-big text-center"
    style="background-image: url('assets/apropos.png')">
    <h1 class="page-title text-gold">À Propos<span class="text-gold">Olympia</span></h1>
  </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <h2 class="title">Notre Vision</h2><!-- End .title -->
        <p>La Vision d’Olympia e la magia dei décorative a fait d’Olympia une source de grande fierté.
           Olympia Mission s’inspire de la vision en maintenant sa valeur et en développant et en fournissant des produits innovants et les meilleurs à tous les clients.
            La peinture d Olympia, cependant, ne se limite pas à être une simple entreprise artistique, mais bénéficie également de nombreux avantages pour la santé.
           Ce sont des techniques thérapeutiques et calmantes extrêmement efficaces. </p>
      </div><!-- End .col-lg-6 -->

      <div class="col-lg-6">
        <h2 class="title">Notre Mission</h2><!-- End .title -->
        <p>Olympia a connu une expansion significative à l’international.
           Son objectif est de garder l’environnement de travail de ses employés très dynamique et stimulant.
           C’est l’entreprise de peinture décorative la plus écologique qui a eu un impact énorme en interne et en externe. </p>
      </div><!-- End .col-lg-6 -->
    </div><!-- End .row -->

    <div class="mb-5"></div><!-- End .mb-4 -->
  </div><!-- End .container -->

  <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-3 mb-lg-0">
          <h2 class="title">Qui sommes nous ?
          </h2><!-- End .title -->
          <p class="lead text-primary mb-3">LOLYMPIA est une entreprise italienne spécialisée dans la fabrication de peinture décorative écologique.

            Il a été créé en 1992 par Simeone Cirillo qui a décidé de mettre en œuvre un projet qu’il poursuivait depuis 1960,
            date à laquelle il a commencé sa première expérience en tant que peintre en Suisse,
             il a créé une peinture décorative durable et de haute qualité, elle est fabriquée en correspondance avec la tradition italienne.

            Graffiato et Santex, ont été les premiers produits de peinture fabriqués,
             développés dans un petit laboratoire avec seulement trois travailleurs. Bientôt,
              ces produits se distinguent par leur excellente qualité et leur durabilité. Depuis lors,
               Olympia n’a cessé d’innover sa gamme de produits et de l’enrichir constamment de nouvelles couleurs et de nouveaux aspects,
               et avec des reflets des tendances d’aujourd’hui et de demain, afin de rendre ses connaissances accessibles à tous avec de nombreux effets décoratifs comme Stucco, Marmorino, Travertin, ère Antica, etc.
          </p>


        </div><!-- End .col-lg-5 -->

        <div class="col-lg-6 offset-lg-1">
          <div class="about-images">
            <img src="assets/ol1.jpeg" alt="" class="about-img-front">
          </div><!-- End .about-images -->
        </div><!-- End .col-lg-6 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .bg-light-2 pt-6 pb-6 -->

  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="brands-text">
          <h2 class="title">Nos Partenaires de Confiance</h2><!-- End .title -->
          <p>Nous sommes fiers de collaborer avec des partenaires de confiance qui partagent nos valeurs et notre
            engagement envers l'excellence. Grâce à ces partenariats solides, nous sommes en mesure de vous offrir des
            produits de qualité supérieure et une expérience d'achat exceptionnelle.

          </p>
        </div><!-- End .brands-text -->
      </div><!-- End .col-lg-5 -->
    </div><!-- End .row -->

    <hr class="mt-4 mb-6">

  </div><!-- End .container -->

  <div class="mb-2"></div><!-- End .mb-2 -->

</div><!-- End .page-content -->
